
html {
    font-size: 16px;
    position: relative;
}

main {
    background: url(../Images/100955894.png) no-repeat;
    background-size: cover;
    width: 100%; 
    /*block-size: fit-content;*/
}

body{
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    width: 100vw;
    justify-content: center;  
}

.main_404 ,.main_500{
    height: 100vh;
}

.field_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(153, 53, 53);
   /* height: 4rem;*/
    width: 100%;
}

.linkHome_big_title{
    color: black;
}

.title_text_logo {
    display: flex;
}


.big_title {
font-size: 4rem;
font-weight: bold;

}

.logo_title {
    height: 4rem;
}

.field_menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 0.8rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu_link {
    color: bisque;
}

:hover > .menu_link {
    color :black
}

.list_menu_link {
    font-size: 1.6rem;
    display: inline;
 
}

.burger_menu {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 4rem;
    box-sizing: border-box;
    margin-right: 0.5rem;
}
.burger_menu_items {
    background-color: #3E1E04;
    box-sizing: border-box;
    border-radius: 1rem;
    height: 1rem;
}

.hidden{
    display: none;
}

.main_top_title {
   font-size: 3rem;
}

.catalog_link {
    box-sizing: border-box;
    color: #3E1E04;
    font-weight: bold;
    border: solid #9C613A; 
    border-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    background-color: beige;
    padding: 0.8rem;
    font-size: 1.5rem;
 }

.main_top_text {
    font-size: 1.3rem;
    text-align: justify;
}

.main_top {
    display: flex;
    justify-content:space-around;
    height: fit-content;
    margin: 1rem; 
    margin-bottom: 2rem;
    max-height: 50%;
}

.right_main_top, .left_main_top {
    box-sizing: border-box;
    width: 36%;
}

.img_article {
    width: 100%;
    height: 302px;
}

.catalog_img {
    border-radius: 5rem;
    width: 30%;
    height: 8.75rem;
    box-shadow: #F0D08A 1px 1px;
}

.title_article_home {
    font-size: 1.5rem;
}

.left_main_top, .left_main_bottom {
display: flex ;
flex-direction: column;
align-items: center;
justify-content: space-around;
background-color:#c1ad97dc;
}

 .left_main_top, .right_main_top {
    border-radius: 1rem;
 }

 .left_main_top {
    padding:1rem
 }

.main_bottom {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

.main_bottom_title {
    text-align: center;
    align-items: center;
    font-size: 2.5rem;
    margin: 3rem;
    color: white;
    text-shadow: 1px 2px 2px #3E1E04;
}

.left_main_bottom {
    width: 25%;
    height: 30% ;
    display: flex;
    border: solid 1px #3E1E04;
    border-radius: 1rem;
}

.new_link {
    font-size: 1rem;
    padding: 0.5rem;
    display: block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-size: 1.2rem;
    color: #3E1E04;
    font-weight: bold;
    border: solid rgb(155, 134, 108); 
    border-bottom-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    background-color: rgba(230, 171, 8, 0.377);
    padding: 1rem;
}

.field_footer {
 box-sizing: border-box;
 margin-bottom: 0;

}

.catalogue_title {  
    text-align: center;
    font-size: 4rem;
    display: block; 
    color: white;
    text-shadow:  1px 1px 2px #3E1E04; 
}

.error {
    
    color: white;
    text-shadow:  1px 1px 2px #3E1E04;
    text-align: center;
    font-size: 4rem; 
    top: 5rem;
    left: 5rem;
    right: 5rem;
}


.catalogue_title_background {
display: flex;
justify-content: center;
height: 40vh;
background: center url("../Images/100955890.png");
width: 60%;
align-items: center;
border: #3E1E04 solid 1px;
border-radius: 1rem;
box-shadow: 1px 1px 1px #3e1e044b;
margin: 1rem auto;
margin-bottom: 3rem;
}

.sort_item {
    display: flex;
    justify-content: center;
    margin: 1rem;
    align-items: center;
}

select {
    font-size: 1.5rem;
    border: solid 2px #3E1E04;
    background: #F0D08A;
    border-radius: 1rem;
    padding: 0.2rem;
    color: black;
}

.show_all_link {
    margin: 1rem;
}

.footer_site{
display: flex;
color: white;
background-color: rgb(153, 53, 53);
width: 100%;
align-items: center;
justify-content: center;
}

.btn_show_article {
    display: block;
    padding: 1rem;
    margin:1rem auto;
    font-size: 1.2rem;
    color: #3E1E04;
    font-weight: bold;
    border: solid rgb(155, 134, 108); 
    border-radius: 0.7rem;
    background-color: #F0D08A;
}

.btn_show_article_parent {
    display: flex;
}

.info_article {
    
    color: white;
    text-shadow:1px 1px 1px #3E1E04;
    border-top: #f3d79a solid 1px;
    width: 100%;
    background-color: #8b6d39;
}

.info_article  > p {
    margin: 0.5rem;
}

span {
    color: black;
    font-weight: bold;
    text-shadow: #f3d79a 1px 1px 1px;
}

.detail_title_background {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 1rem auto;
    box-sizing: content-box;
    align-self: auto;
    justify-self: auto;
    }

.img_detail {
    width: 50%;
    border-radius: 1rem;
    border: #3E1E04 solid 1px;
    box-shadow: 1px 1px 1px #3e1e044b;
}



.detail_article {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 20rem;
    justify-content: space-between;
    border-radius: 1rem;
    border: #3E1E04 solid 1px;
    box-shadow: 1px 1px 1px #3e1e044b;
    background-color: #F0D08A;
}

.text_detail, .title_text_detail {
    color: black;
}

.title_text_detail {
font-weight: bold ;
}

.title_detail_product {
    font-weight: bold;
    color: black;
}

.description_product {
    font-size: 1.2rem;
    margin: 0.5rem;
    text-align: justify;
}

.title_produc {
    font-weight: bold;
    margin: 0.5rem 0;
}
/* partie page detail*/

.img_detail_article {
    max-width: 40%;
    max-height: 30%;
    margin: 5rem auto;
    display: block;
    border-radius: 1rem;
    border: 1px solid wheat;
   }

.field_detail_article {
    display: flex;
    flex-direction: column;
    border : solid 2px #f3d79a ;
    width: 40%;
    margin: 5rem auto;
    background-color:#9c613a9f;
    border-radius: 1rem;
    
}

.field_detail_article > p {
    font-size: 1.2rem;
    text-align: center;
    background-color: #ffffff96;
    color: black;
    text-shadow: #f3d79a 1px 1px 1px;
}

.title_detail_article {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: #3E1E04 1px 1px 1px
}

.title_date_field {
    display: flex;
    justify-content: space-between;
    margin: 1rem;

}

.link_detail_article {
    border : solid 2px black;
    border-radius: 1rem;
    margin: 2rem;
    font-size: 1.5em;
    text-align: center;
    background-color: #F0D08A;
    color: #3E1E04;
    font-weight: bold;
}

.valid_category {
    font-size: 1.5rem;
    border: solid 1px #F0D08A;
    border-radius: 3rem;
    padding: 0.2rem;
    background-color: #3E1E04;
    color: #F0D08A;
}

.green {
    color: rgb(5, 219, 5);
    text-shadow: green 1px 2px 1px;
}

.red {
    color: red;
    text-shadow: #a51111 1px 2px 1px;
}

.green, .red {
    margin: 1rem
}

.introduce_store_field {
    height: 100vh;
    background-color: #f0d08aaf;
}

.introduce_store_title, .dream_store_title ,.we_store_title {
    font-size: 2rem;
    font-weight: bold;
}

/* partie panier client*/
.bucket {
    height: 3rem;
    width: auto;
}

.bucket_field {
    position: relative;
}

.bucket_nbOf {
    position:absolute;
    right : 0;
    bottom :0;
    color: white;
    border: solid 1px white;
    border-radius: 1rem;
    padding: 0 3px;
    background-color: black;
}

.bucket_link {
    height: 1.5rem;
    width: auto;
    border: solid 1px greenyellow;
    background-color: white;
    border-radius: 1rem;
    padding: 0.2rem;
}

.buy_field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.6rem 0 0.5rem;
}

.section_total_field {
    display: flex;
    justify-content: end;
    margin : 1rem
}

.total_field {
    padding: 0.8rem 0;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #f0d08aaf;
    border-radius: 1rem;
}

.article_bucket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    background-color: #f0d08a75;
}

.article_bucket_image {
    height: 2.5rem;
    width: auto;
}

.article_trash_image {
    height: 1.3rem;
    width: auto;
}

.bucket_div {
height: 100vh;
background-color: #7e582d;
}

.article_bucket_title {
    font-size: 1.2rem;
    font-weight: bold;
}

hr {
    width: 98%;  
}

.left_article_bucket, .right_article_bucket {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.title_bucket {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

.article_bucket_type {
    font-style: italic;
}
.article_bucket_price {
    font-weight: bold;
}

.empty_bucket_message {
    font-size: 1.1rem ;
    color: white;
    text-align: center;
}

.eventNone {
    pointer-events: none;
    cursor: default;
}

.not {
background-color: rgb(92, 204, 57);
}

.not_Red {
 background-color: rgb(185, 183, 183);
}

/*account page*/
.field_account_page_title {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    padding:2rem 0;
}

.alert_error_message {
    font-size: 1.5rem;
    color: red;
    border: 1px solid rgb(207, 78, 78);
    background-color: #694c4c;
    border-radius: 1rem;
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}

legend {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    font-size: 1.5em;
}

.field_account_page {
    height: 100vh;
    background-color: #7e582d;
}

.field_account {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.field_account > form > fieldset > input ,.sub_button_form {
    border: 1px solid black;
    border-radius: 0.5em ;
    width: 50%;
    height: 1.5rem;
    height: fit-content;
    padding: 0.5em 0.1em;
}

/*.login_input_field {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    width: 50%;
}*/

.field_form {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    border:solid 2px #3E1E04;
    border-radius: 0.8em;
    padding:0.5rem 1rem;
    font-weight: bold;
    background-color: #f0d08a96;
    align-items: center;
    justify-content: space-evenly;
    height: 45vh;
}

.login_form, .register_form {
    width:40%;
}

.sub_button_form {
    font-weight: bold;
    font-size: 1.1em;
    width: fit-content;
}

/* responsive 1250px*/
@media (max-width: 1250px) {
.left_main_bottom {
    width: auto;
}

html {
    font-size: 15px;
}

.catalogue_title_background {
    height: 4.4rem;
    width: 80%;
    margin-bottom: 0;
}

.catalogue_title {
    font-size: 2rem;
}

.big_title ,.burger_menu {
    display: none;
}

.hidden{
    display: block;
}

.menu_link , select {
font-size: 1rem;
}

form {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.field_menu {
    flex-direction: row-reverse;
}

.img_article {
    width: 23.7rem;
}

.main_bottom_title {
    margin: 0
}

.main_top_title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.left_main_top {
width: 23.7rem;
margin: 1rem auto;
}

.right_main_top {
   display: none;

}

.main_top {
    margin :0;
    flex-wrap: wrap-reverse;
    gap: 1rem;
}

.main_top_text {
    font-size: 1.2rem;
}

.catalog_link {
    font-size: 1.4rem;
    margin-top: 1rem;
}

.img_detail_article {
    width: 80%;
    margin: 1rem auto;
    max-width: none;
    margin: 0;
}
.field_detail_article {
    width: 80%;
    margin: 0;
}

.detail_field_parent {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 1rem auto;
}

.title_detail_article {
    font-size: 1.5rem;
}

.article_bucket_title {
    font-size: 1rem;
}

.article_trash_image {
    height: 1.5rem;
}

.field_account {
    flex-wrap: wrap;
}


}