</main>
<footer class="footer_site">
    <p class="footer_site_text">O'Clock & Pepper Brothers - Tous droits réservés</p>
</footer>

<script src="/../javaScript/front.js"></script>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>