<%- include ('./partials/header') %>
   <div class="detail_field_parent">
    <img class="img_detail_article" src="/../Images/<%= detailP.reference %>.png" alt="image de café qui donne envie">

            <article class="field_detail_article" >
                <div class="title_date_field">
                    <h2 class="title_detail_article">  <%= detailP.nom %> </h2> 
                    <p>Publié le <time datetime="2024-06-15T17:00">05 juin</time></p>
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus eligendi nam aperiam deserunt 
                    excepturi esse architecto! Neque voluptatum excepturi totam. Quis atque recusandae eius, 
                    voluptate aperiam porro tenetur debitis Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure necessitatibus, ius
                    to alias quos voluptas natus aut nisi illum neque et ab voluptatem enim dolore fac
                    ere cum dolorum, accusantium rem accusamus!</p>
          
                <a class="link_detail_article" href="/catalog">Catalogue</a>
            </article>
   </div>
        
    

<%- include ('./partials/footer') %>